*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3BDCD6;
}
.quote-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: whitesmoke;
    width: 700px;
    position: absolute;
    top: 30%;
    left: 26%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0,0.5);
}

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
.quote-box blockquote{
    font-size: 25px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    float: right;
    
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
  .quote-box button{
    background:  rgb(79, 35, 190);
    color: rgb(211, 211, 102);
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 110px;
    margin: 5px;
    cursor: pointer;
  }